<!--The content below is only a placeholder and can be replaced.-->
<br>
<section (click)="clickEvent($event)">
    <ko-stage #stage [config]="configStage"  >
        <ko-layer #layer>
            <ko-regular-polygon
              #hexagon
              [config]="configItem"
              
            ></ko-regular-polygon>
            
         
            <ko-circle #shapecircle
             [config]="configCircle" ></ko-circle>

             <ko-circle #shapeEight1
             [config]="configEight1" ></ko-circle>
             <ko-circle #shapeEight2
             [config]="configEight2" ></ko-circle>

             
             <ko-shape  
             
             #shapeGround
             
             [config]="configShape"
             
             
             ></ko-shape>
           
        </ko-layer>
    </ko-stage>
    <br>
</section>

<router-outlet></router-outlet>

<div>
    <button type="button" (click)="onCircle($event)">Circle</button>
    <button type="button"  (click)="onEight($event)" >Eight</button>
    <button type="button"  (click)="onGround($event)" >Ground</button>
    <button type="button" (click)="logText(textbox.value)" >Speed</button>
    <input #textbox type="text" >


</div>